.Logo {
  display: flex;
  align-items: center;
  svg {
    $w: 5rem;
    width: $w;
    height: $w;
  }
  &__text {
    display: none;
    margin-left: 1.2rem;
    font-family: "Cloister", sans-serif;
    font-variant: small-caps;
    font-size: 3rem;
    // text-transform: uppercase;
    @include landscape {
      display: block;
    }
  }
}