.PostCreate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  .SubmitButton {
    $color: teal;
    border-width: 1px;
    border-radius: 0;
    border-color: $color;
    color: $color;
    background-color: white;
    transition: all 500ms;
  }
}