@use "sass:math";

.Board {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 $padH;
  background-image: url(../../assets/img/hexMosaic1.svg);
  background-repeat: repeat;
  background-position: center;
  $h: 10rem;
  $w: ($h * math.sqrt(3));
  background-size: $w $h;
  background-attachment: fixed;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: $maxW;
    padding: 5rem 0;
  }
  &__inactive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50rem;
    padding: 2rem 3rem;
    border: 1px solid $gray3;
    background-color: white;
    h3 {
      text-align: center;
      text-transform: lowercase;
    }
  }
}