.ThreadHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3rem;
  &__nav {
    display: flex;
    align-items: baseline;
    padding: 1rem 0;
    &Link {
      font-family: "Cloister", serif;
      font-size: 2.4rem;
      text-decoration: underline;
      color: navy;
      cursor: pointer;
    }
    span {
      margin: 0 1rem;
    }
    &Current {
      font-weight: bold;
    }
  }
  &__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}