.ThreadMiniature {
  display: flex;
  width: 100%;
  border-bottom: 1px solid silver;
  &__state {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 6rem;
    padding: 0.6rem;
  }
  &__iconBox {
    $x: 1.6rem;
    width: $x;
    height: $x;
    margin: 0.2rem;
    svg {
      width: 100%;
      height: 100%;
      stroke: currentColor;
      fill: currentColor;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.2rem;
  }
  &__link {
    margin-bottom: 0.3rem;
    font-weight: 600;
    text-decoration: underline;
    color: navy;
  }
  &__description {
    margin-bottom: 0.6rem;
    font-size: 1.2rem;
  }
  &__moreInfo {
    font-size: 0.9rem;
    color: $gray4;
    span {
      margin-right: 2rem;
    }
    em {
      margin: 0 0.3rem;
      color: $gray2;
    }
  }
}