.PostAuthor {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-image: linear-gradient(145deg, papayawhip, navajowhite);
  @include landscape {
    flex-direction: column;
    width: 30%;
  }
  @include tablet {
    width: 20%;
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    img {
      border-radius: 1000px;
    }
  }
  &__infoWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__name { 
    margin-bottom: 2rem;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-variant: small-caps;
    font-size: 1.5rem;
    @include landscape {
      text-align: center;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__infoLine {
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 1.4rem;
    svg {
      $x: 2rem;
      width: $x;
      height: $x;
      margin-right: 1.5rem;
      stroke: currentColor;
    }
  }
}