.ThreadPaginator {
  display: flex;
  list-style-type: none;
  border: 1px solid gainsboro;
  border-right: none;
  border-bottom: none;
  background-color: white;
  font-family: monospace;
  font-size: 1.2rem;
  color: blue;
  &__li {
    $x: 3rem;
    width: $x;
    height: $x;
    border: 1px solid gainsboro;
    border-top: none;
    border-left: none;
    cursor: pointer;
    &--disabled {
      a {
        color: $gray4;
        cursor: not-allowed;
      }
    }
  }
  &__a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    &--active {
      color: black;
      cursor: default;
    }
  }
}