.Post {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include landscape {
    flex-direction: row;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include landscape {
      width: 70%;
    }
    @include tablet {
      width: 80%;
    }
  }
  &__body {
    flex-grow: 1;
    width: 100%;
    padding: 2rem;
    background-color: white;
    * {
      all: revert;
      max-width: 100%;
      overflow: auto;
    }
  }
}