.Community {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 $padH;
  background-image: url(../../../assets/img/peopleMosaic.svg);
  background-repeat: repeat;
  background-position: center;
  $w: 3rem;
  background-size: $w 1.618*$w;
  background-attachment: fixed;
  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $maxW;
    padding: 5rem 0;
  }
  &__gallery {
    display: grid;
    grid-template-columns: repeat( auto-fill, 30rem );
    column-gap: 2rem;
    row-gap: 5rem;
    justify-content: center;
    padding: 2rem 0;
    @include landscape {
      justify-content: space-evenly;
    }
    @include desktop {
      justify-content: space-between;
    }
  }
}